*{
    margin: 0;
    box-sizing: border-box;
}
body{
    flex-direction: column;
    background-color: rgb(219, 235, 255);
}
h2{
     text-transform: uppercase;
     font-family: vt;
     font-size: 2em;
     font-weight: 400;
}