.gallery{
    padding: 30px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, 150px);
    grid-template-rows: repeat(auto-fit, 150px);
    gap: 20px;
    align-items: center;
    justify-content: center;
    width: 100vw;
}
.gallery img{
    object-fit: contain;
    width: 100%;
    cursor: pointer;
}